.node {
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);

    text-align: left;
    line-height: normal;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.contract-node {
    background-color: rgba(74, 105, 1, 0.9);
}

.contract-other {
    background-color: rgba(74, 105, 1, 0.5);
}



.file-view {
  
    padding: 1rem;

}



.three-container {
    cursor: grab;
}

.node:hover {
    cursor: pointer;
}

.external-node {
    

    background-color: rgba(0, 127, 127, 0.4);

}

.local-node {
   

    background-color: rgba(0, 127, 127, 0.9);
}

.error-node {
    background-color: rgba(206, 43, 43, 0.9);
}

.edge {
    background: #eee;
    display: block;
}

.menu-btn-space {
    margin-left: 2rem !important;
}


.menu-btn {
    color: rgba(255, 174, 52, 0.9);
    background: rgba(255, 174, 52, 0.1);
    outline: 1px solid rgba(255, 174, 52, 0.5);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0px !important;
    margin-left: 10px;
}


.menu-btn:hover{
    color: rgba(255, 174, 52, 1);
    background: rgba(255, 174, 52, 0.3);
  
}

.menu-btn:focus,
.menu-btn.focus {
    box-shadow: 0 0 0 .2rem rgba(255, 174, 52, 1)
}

.menu {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    
    text-align: left;
}

.node .file-title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 65px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    /* text-shadow: 0 0 10px rgba(0,255,255,0.95); */

}

.node .file-info {
    margin-top: 1rem;
    font-size: 30px;
    word-break: break-all;
    color: rgba(255, 255, 255, 0.75);
    /* text-shadow: 0 0 10px rgba(0,255,255,0.95); */

}

.kind-info {
    margin-top: 1rem;
    text-transform: uppercase;


    word-break: break-all;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    /* text-shadow: 0 0 10px rgba(0,255,255,0.95); */

}

.node .kind-info {

    font-size: 50px;

}


.view-container {
    max-width: 720px;
}

.view-container .kind-info {

    font-size: 1rem;


}

.view-container .title {


    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    /* text-shadow: 0 0 10px rgba(0,255,255,0.95); */

}

.view-headline {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;
    font-weight: bold;
}

.view-select {
    color: rgba(255, 174, 52, 0.9);
    background: rgba(255, 174, 52, 0.1);
    outline: 1px solid rgba(255, 174, 52, 0.5);
    border: 0px;
    padding: 4px;
    cursor: pointer;
    border-radius: 0px !important;
    margin-left: 10px;
}

.view-select:hover{
    color: rgba(255, 174, 52, 1);
    background: rgba(255, 174, 52, 0.3);
  
}

.view-select:focus,
.view-select.focus {
    box-shadow: 0 0 0 .2rem rgba(255, 174, 52, 1)
}