.node {
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);

    background-color: rgba(0, 127, 127, 0.9);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}

.edge {
    background: #eee;
    display: block;
}

.menu-btn {
    color: rgba(255, 174, 52, 0.5);
    background: transparent;
    outline: 1px solid rgba(255, 174, 52, 0.5);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0px !important;
}

.menu {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    text-align: center;
}

.node .title {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    /* text-shadow: 0 0 10px rgba(0,255,255,0.95); */
}
